__macosx
$RECYCLE.BIN/
backup/
temp/
tmp/

readme.md

.*
!/.gitignore
!/.gitattributes

*.bak
*.bat
*.exe
*.tmp

*.7z
*.iemod
*.rar
*.zip
*.tar*

Thumbs.db
ehthumbs.db
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.apdisk
