__macosx
backup/
$RECYCLE.BIN/
temp/
tmp/

*.bak
*.tmp
*.bak
*.lnk
Thumbs.db
ehthumbs.db
bgforge.ini
readme.md

.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.apdisk

/*.7z
/*.rar
/*.zip
/*.tar.gz
/*.exe
